.navbar a {
    color: white;
    font-size: 22px;
    transition: all ease-in 0.3s;   
}

.navbar i {
    margin-right: 10px;
}

.navbar a:hover {
    color: rgb(161, 188, 228);
}

.inti .card {
    border: 1px solid black;
}

.inti .number {
    position: absolute;
    padding: 10px;
    background-color: rgb(16, 47, 68);
    color: white;
    margin-top: -17px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inti h5 {
    margin-left: 50px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.inti .detail {
    background-color: rgb(71, 105, 126);
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.inti .detail:hover {
    background-color: white;
    border: 1px solid black;
    color: #333;
}